* {
    margin: 0;
    background-attachment: fixed ;
}
.container {
   display: flex;
   flex-direction: column;
    margin: 0px 0px 0px 0px;
    
    
    position: absolute;
    width: 100%;
    max-width: 100%;
    align-items: center;
    filter: blur(0px);
}

.box {
    color: aliceblue;
    text-align: center;
    font-family: oblituscasa;
    font-size: 30px;
    position: absolute;
    background-color: rgb(24, 24, 24);
    width: 430px;
    border: 5px solid rgb(31, 31, 31);
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px #000000);
    height: 300px;
      top:0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    display: flex;
    margin: auto;
    display: none;
}
.selector {
    position: absolute;
    top: 10px;
    right: 16px;
    display: none;
}
.prep {
       filter: drop-shadow(5px 5px 5px #000000);
    background-color: aliceblue;
    width: 150px;
    height: 220px;
    margin: 50px 10px 10px 20px;
    background-image: url(assets/corrupter.png);
    background-position: 0px -240px;
    background-size: 200px;
}
.mods {
       filter: drop-shadow(5px 5px 5px #000000);
    background-color: aliceblue;
    width: 150px;
    height: 220px;
    margin: 50px 0px 10px 81px;
     background-image: url(assets/modman.png);
      background-position: 130px -190px;
    background-size: 180px;

}
.prep:hover {
  
      outline: 2px solid white;
    outline-offset: 0px;
     cursor:pointer;
   .cltxt {
      font-weight: 600;
    font-size: 28px;
    margin: 79px 0 0 0;
} 
}
.mods:hover {
     
      outline: 2px solid white;
    outline-offset: 0px;
     cursor:pointer;
   .cltxt1 {
     font-weight: 600;
    font-size: 28px;
    margin: 79px 0 0 0;
} 
}

.txt {
    position:absolute;
    text-align: center;
    width: 430px;
}
.cltxt {
    color: #ffffff;
    font-size: 22px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 85px 0 0 0;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
}
.cltxt1 {
    color: #ffffff;
    font-size: 22px;
     text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 85px 0 0 0;
}
@font-face {
    font-family: oblituscasa;
    src:url("NewWaltDisneyFontRegular-BPen.ttf");
}
.banner {
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 60px auto 0 auto;
     width: 50%;
     height:180px;
     border-radius: 30px;
     background-image: url(assets/full43.png);
       filter: drop-shadow(5px 5px 5px #000000);
}
.toppage {
    background-color: rgb(29, 29, 29);
    
    font-family: oblituscasa;
    color: aliceblue;
    font-size: 30px;
    border: 0px solid rgb(54, 54, 54);
    box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.bottompage {
     background-color: rgb(29, 29, 29);
    height: 40px;
    font-family: oblituscasa;
    color: aliceblue;
    font-size: 25px;
    border: 0px solid rgb(54, 54, 54);
    box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 999;
}
.menubox {

    filter: drop-shadow(0px 5px 15px #000000);
    width: 600px;
    height:180px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    margin: 20px auto 0 auto;
    display: flex;
   cursor:pointer;
    align-items: center;
    
}
.section1 {
      background-attachment:scroll;
    background-image: url(assets/rnwhu.png);
    margin: 0 0 0 10px;
    width:240px;
    height:135px;
    background-color:rgb(41, 41, 41);
    background-size:100%;
    background-position: -0px -22px;
    background-repeat:no-repeat;
    border-radius: 15px;
   
    border: 5px solid rgb(41, 41, 41);
     box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.downloads {
    right: 10px;
    top: 0;
    position: absolute;
    background-image: url(assets/somickey.png);
       background-attachment:local;
    background-size: auto auto;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-size: 100%;
    background-position: 2px -2px;
    cursor:pointer;
}
.downloads:hover {
   background-blend-mode: overlay;
}
.main {
    
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    width: 330px;
    height: 100px;
    border-radius: 0px 20px 20px 0px;
    background-color:rgb(41, 41, 41);
    margin: 0 0 20px 0;
    color: aliceblue;
    display: flex;
}
.menubox:hover{
    outline: 2px solid white;
    outline-offset: 0px
}

.selector:hover {
    display: block
}
.modetitle {
    background: none;
    font-weight: 500;
    font-style: normal;
    font-size: 27px;
    margin: 0px 0px 0px 5px;
    display: flex;
    flex-direction: column;

}
.tags {
    background: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 20px;
}
.gamename {
    background: none;
    
    text-align: right;
    font-size: 15px;
    
    font-weight: 400 ;
    ;
    margin: 0px 0px 0px 70px;

}
.loading {
     filter: drop-shadow(5px 5px 5px #000000);
      display: none;
      width: 150px;
      height: 150px;
      font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
      gap: 10px;
      color: white;
      font-size: 16px;
    margin: 20px auto 0 auto;
          background-image: url('assets/loading.gif');
    
         object-fit:cover;
         background-size: 170px;
           background-attachment:local;
        background-position: -10px 35%;
        
}
.info {
    position: absolute;
    align-self: center;
    color:aliceblue;
    margin: 110px 0px 0px 260px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    background: none;
    font-style: normal;
    font-size: 13px;
}

.checkbox-container {
      display: flex;
       filter: drop-shadow(0px 5px 15px #000000);
      font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
      gap: 10px;
      color: white;
      font-size: 16px;
    margin: 20px auto 0 auto;
      background-color: rgb(41, 41, 41);;
      border: 10px solid rgb(41, 41, 41);
       border-radius: 10px;

}
